
<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title>Riode - Ultimate eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Riode - eCommerce Template">
	<meta name="author" content="D-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="~/assets/images/icons/favicon.png">

	<script>
		WebFontConfig = {
			google: { families: ['Poppins:400,500,600,700,800'] }
		};
		(function (d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = 'js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>



	<link rel="stylesheet" type="text/css" href="~/assets/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.min.css">

	<!-- Plugins CSS File -->
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/owl-carousel/owl.carousel.min.css">

	@RenderSection("css", required:false)
	<link href="~/admin/assets/libs/toastr.js/toastr.css" rel="stylesheet" />
	<!-- Main CSS File -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/demo23.min.css">


</head>

<body class="home">

	<div class="page-wrapper">
		<h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>
		@await Component.InvokeAsync("Header")
		<!-- End Header -->
		<main class="main">
			@RenderBody();
		</main>
		<!-- End Main -->
		<footer class="footer">
			<div class="container">
				<div class="footer-top">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<a href="~/assets/demo23.html" class="logo-footer">
								<img src="~/assets/images/demos/demo23/logo-footer.png" alt="logo-footer" width="154"
									 height="43" />
							</a>
							<!-- End FooterLogo -->
						</div>
						<div class="col-lg-9">
							<div class="widget widget-newsletter form-wrapper form-wrapper-inline">
								<div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
									<h4 class="widget-title">Subscribe to our Newsletter</h4>
									<p class="mb-0">Get all the latest information, Sales and Offers.</p>
								</div>
								<form method="post" id="frmSubscribe" class="input-wrapper input-wrapper-inline">
									<input type="email" class="form-control" name="email" id="email"
										   placeholder="Email address here..." required />
									<button class="btn btn-primary btn-rounded btn-md ml-2" type="submit">
										subscribe<i class="d-icon-arrow-right"></i>
									</button>
								</form>
							</div>
							<!-- End Newsletter -->
						</div>
					</div>
				</div>
				<!-- End FooterTop -->
				<div class="footer-middle">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="widget widget-info">
								<h4 class="widget-title">Contact Info</h4>
								<ul class="widget-body">
									<li>
										<label>Phone:</label>
										<a href="~/assets/tel:#">Toll Free (123) 456-7890</a>
									</li>
									<li>
										<label>Email:</label>
										<a href="~/assets/mailto:mail@riode.com">riode@mail.com</a>
									</li>
									<li>
										<label>Address:</label>
										<a href="~/assets/#">123 Street, City, Country</a>
									</li>
									<li>
										<label>WORKING DAYS / HOURS:</label>
									</li>
									<li>
										<a href="~/assets/#">Mon - Sun / 9:00 AM - 8:00 PM</a>
									</li>
								</ul>
							</div>
							<!-- End Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="widget ml-lg-4">
								<h4 class="widget-title">About Us</h4>
								<ul class="widget-body">
									<li>
										<a asp-controller="home" asp-action="about">About Us</a>
									</li>
									<li>
										<a href="~/assets/#">Order History</a>
									</li>
									<li>
										<a href="~/assets/#">Returns</a>
									</li>
									<li>
										<a href="~/assets/#">Custom Service</a>
									</li>
									<li>
										<a href="~/assets/#">Terms &amp; Condition</a>
									</li>
								</ul>
							</div>
							<!-- End Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="widget ml-lg-4">
								<h4 class="widget-title">My Account</h4>
								<ul class="widget-body">
									<li>
										<a href="~/assets/#">Sign in</a>
									</li>
									<li>
										<a href="~/assets/cart.html">View Cart</a>
									</li>
									<li>
										<a href="~/assets/wishlist.html">My Wishlist</a>
									</li>
									<li>
										<a href="~/assets/#">Track My Order</a>
									</li>
									<li>
										<a href="~/assets/#">Help</a>
									</li>
								</ul>
							</div>
							<!-- End Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="widget widget-instagram">
								<h4 class="widget-title">Instagram</h4>
								<figure class="widget-body row">
									<div class="col-3">
										<img src="~/assets/images/instagram/01.jpg" alt="instagram 1" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/02.jpg" alt="instagram 2" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/03.jpg" alt="instagram 3" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/04.jpg" alt="instagram 4" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/05.jpg" alt="instagram 5" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/06.jpg" alt="instagram 6" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/07.jpg" alt="instagram 7" width="64" height="64" />
									</div>
									<div class="col-3">
										<img src="~/assets/images/instagram/08.jpg" alt="instagram 8" width="64" height="64" />
									</div>
								</figure>
							</div>
							<!-- End Instagram -->
						</div>
					</div>
				</div>
				<!-- End FooterMiddle -->
				<div class="footer-bottom">
					<div class="footer-left">
						<figure class="payment">
							<img src="~/assets/images/payment.png" alt="payment" width="159" height="29" />
						</figure>
					</div>
					<div class="footer-center">
						<p class="copyright">Riode eCommerce &copy; 2021. All Rights Reserved</p>
					</div>
					<div class="footer-right">
						<div class="social-links">
							<a href="~/assets/#" class="social-link social-facebook fab fa-facebook-f"></a>
							<a href="~/assets/#" class="social-link social-twitter fab fa-twitter"></a>
							<a href="~/assets/#" class="social-link social-linkedin fab fa-linkedin-in"></a>
						</div>
					</div>
				</div>
				<!-- End FooterBottom -->
			</div>
		</footer>
		<!-- End Footer -->
	</div>
	<!-- Sticky Footer -->
	<div class="sticky-footer sticky-content fix-bottom">
		<a href="~/assets/demo23.html" class="sticky-link active">
			<i class="d-icon-home"></i>
			<span>Home</span>
		</a>
		<a href="~/assets/demo23-shop.html" class="sticky-link">
			<i class="d-icon-volume"></i>
			<span>Categories</span>
		</a>
		<a href="~/assets/wishlist.html" class="sticky-link">
			<i class="d-icon-heart"></i>
			<span>Wishlist</span>
		</a>
		<a href="~/assets/account.html" class="sticky-link">
			<i class="d-icon-user"></i>
			<span>Account</span>
		</a>
		<div class="header-search hs-toggle dir-up">
			<a href="~/assets/#" class="search-toggle sticky-link">
				<i class="d-icon-search"></i>
				<span>Search</span>
			</a>
			<form action="#" class="input-wrapper">
				<input type="text" class="form-control" name="search" autocomplete="off"
					   placeholder="Search your keyword..." required />
				<button class="btn btn-search" type="submit">
					<i class="d-icon-search"></i>
				</button>
			</form>
		</div>
	</div>
	<!-- Scroll Top -->
	<a id="scroll-top" href="~/assets/#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

	<!-- MobileMenu -->
	<div class="mobile-menu-wrapper">
		<div class="mobile-menu-overlay">
		</div>
		<!-- End Overlay -->
		<a class="mobile-menu-close" href="~/assets/#"><i class="d-icon-times"></i></a>
		<!-- End CloseButton -->
		<div class="mobile-menu-container scrollable">
			<form action="#" class="input-wrapper">
				<input type="text" class="form-control" name="search" autocomplete="off"
					   placeholder="Search your keyword..." required />
				<button class="btn btn-search" type="submit">
					<i class="d-icon-search"></i>
				</button>
			</form>
			<!-- End Search Form -->
			<ul class="mobile-menu mmenu-anim">
				<li>
					<a href="~/assets/demo23.html">Home</a>
				</li>
				<li>
					<a href="~/assets/demo23-shop.html">Categories</a>
					<ul>
						<li>
							<a href="~/assets/#">
								Variations 1
							</a>
							<ul>
								<li><a href="~/assets/shop-banner-sidebar.html">Banner With Sidebar</a></li>
								<li><a href="~/assets/shop-boxed-banner.html">Boxed Banner</a></li>
								<li><a href="~/assets/shop-infinite-scroll.html">Infinite Ajaxscroll</a></li>
								<li><a href="~/assets/shop-horizontal-filter.html">Horizontal Filter</a></li>
								<li>
									<a href="~/assets/shop-navigation-filter.html">
										Navigation Filter<span class="tip tip-hot">Hot</span>
									</a>
								</li>

								<li><a href="~/assets/demo23-shop.html">Off-Canvas Filter</a></li>
								<li><a href="~/assets/shop-right-sidebar.html">Right Toggle Sidebar</a></li>
							</ul>
						</li>
						<li>
							<a href="~/assets/#">
								Variations 2
							</a>
							<ul>

								<li>
									<a href="~/assets/shop-grid-3cols.html">
										3 Columns Mode<span class="tip tip-new">New</span>
									</a>
								</li>
								<li><a href="~/assets/shop-grid-4cols.html">4 Columns Mode</a></li>
								<li><a href="~/assets/shop-grid-5cols.html">5 Columns Mode</a></li>
								<li><a href="~/assets/shop-grid-6cols.html">6 Columns Mode</a></li>
								<li><a href="~/assets/shop-grid-7cols.html">7 Columns Mode</a></li>
								<li><a href="~/assets/shop-grid-8cols.html">8 Columns Mode</a></li>
								<li><a href="~/assets/shop-list.html">List Mode</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="~/assets/demo23-product.html">Products</a>
					<ul>
						<li>
							<a href="~/assets/#">Product Pages</a>
							<ul>
								<li><a href="~/assets/product-simple.html">Simple Product</a></li>
								<li><a href="~/assets/product.html">Variable Product</a></li>
								<li><a href="~/assets/product-sale.html">Sale Product</a></li>
								<li><a href="~/assets/product-featured.html">Featured &amp; On Sale</a></li>

								<li><a href="~/assets/product-left-sidebar.html">With Left Sidebar</a></li>
								<li><a href="~/assets/product-right-sidebar.html">With Right Sidebar</a></li>
								<li>
									<a href="~/assets/product-sticky-cart.html">
										Add Cart Sticky<span class="tip tip-hot">Hot</span>
									</a>
								</li>
								<li><a href="~/assets/product-tabinside.html">Tab Inside</a></li>
							</ul>
						</li>
						<li>
							<a href="~/assets/#">Product Layouts</a>
							<ul>
								<li><a href="~/assets/product-grid.html">Grid Images<span class="tip tip-new">New</span></a></li>
								<li><a href="~/assets/product-masonry.html">Masonry</a></li>
								<li><a href="~/assets/product-gallery.html">Gallery Type</a></li>
								<li><a href="~/assets/product-full.html">Full Width Layout</a></li>
								<li><a href="~/assets/product-sticky.html">Sticky Info</a></li>
								<li><a href="~/assets/product-sticky-both.html">Left &amp; Right Sticky</a></li>
								<li><a href="~/assets/product-horizontal.html">Horizontal Thumb</a></li>

								<li><a href="~/assets/#">Build Your Own</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="~/assets/#">Pages</a>
					<ul>
						<li><a asp-controller="home" asp-action="about">About</a></li>
						<li><a href="~/assets/contact-us.html">Contact Us</a></li>
						<li><a href="~/assets/account.html">Login</a></li>
						<li><a href="~/assets/faq.html">FAQs</a></li>
						<li><a href="~/assets/error-404.html">Error 404</a></li>
						<li><a href="~/assets/coming-soon.html">Coming Soon</a></li>
					</ul>
				</li>
				<li>
					<a href="~/assets/blog-classic.html">Blog</a>
					<ul>
						<li><a href="~/assets/blog-classic.html">Classic</a></li>
						<li><a href="~/assets/blog-listing.html">Listing</a></li>
						<li>
							<a href="~/assets/#">Grid</a>
							<ul>
								<li><a href="~/assets/blog-grid-2col.html">Grid 2 columns</a></li>
								<li><a href="~/assets/blog-grid-3col.html">Grid 3 columns</a></li>
								<li><a href="~/assets/blog-grid-4col.html">Grid 4 columns</a></li>
								<li><a href="~/assets/blog-grid-sidebar.html">Grid sidebar</a></li>
							</ul>
						</li>
						<li>
							<a href="~/assets/#">Masonry</a>
							<ul>
								<li><a href="~/assets/blog-masonry-2col.html">Masonry 2 columns</a></li>
								<li><a href="~/assets/blog-masonry-3col.html">Masonry 3 columns</a></li>
								<li><a href="~/assets/blog-masonry-4col.html">Masonry 4 columns</a></li>
								<li><a href="~/assets/blog-masonry-sidebar.html">Masonry sidebar</a></li>
							</ul>
						</li>
						<li>
							<a href="~/assets/#">Mask</a>
							<ul>
								<li><a href="~/assets/blog-mask-grid.html">Blog mask grid</a></li>
								<li><a href="~/assets/blog-mask-masonry.html">Blog mask masonry</a></li>
							</ul>
						</li>
						<li>
							<a href="~/assets/post-single.html">Single Post</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="~/assets/#">Elements</a>
					<ul>
						<li><a href="~/assets/element-products.html">Products</a></li>
						<li><a href="~/assets/element-typography.html">Typography</a></li>
						<li><a href="~/assets/element-titles.html">Titles</a></li>
						<li><a href="~/assets/element-categories.html">Product Category</a></li>
						<li><a href="~/assets/element-buttons.html">Buttons</a></li>
						<li><a href="~/assets/element-accordions.html">Accordions</a></li>
						<li><a href="~/assets/element-alerts.html">Alert &amp; Notification</a></li>
						<li><a href="~/assets/element-tabs.html">Tabs</a></li>
						<li><a href="~/assets/element-testimonials.html">Testimonials</a></li>
						<li><a href="~/assets/element-blog-posts.html">Blog Posts</a></li>
						<li><a href="~/assets/element-instagrams.html">Instagrams</a></li>
						<li><a href="~/assets/element-cta.html">Call to Action</a></li>
						<li><a href="~/assets/element-icon-boxes.html">Icon Boxes</a></li>
						<li><a href="~/assets/element-icons.html">Icons</a></li>
					</ul>
				</li>
				<li><a href="~/assets/https://d-themes.com/buynow/riodehtml">Buy Riode!</a></li>
			</ul>
			<!-- End MobileMenu -->
		</div>
	</div>

	<div class="newsletter-popup mfp-hide" id="newsletter-popup" style="background-image: url(images/newsletter-popup.jpg)">
		<div class="newsletter-content">
			<h4 class="text-uppercase text-dark">Up to <span class="text-primary">20% Off</span></h4>
			<h2 class="font-weight-semi-bold">Sign up to <span>RIODE</span></h2>
			<p class="text-grey">
				Subscribe to the Riode eCommerce newsletter to receive timely updates from your favorite
				products.
			</p>
			<form action="#" method="get" class="input-wrapper input-wrapper-inline input-wrapper-round">
				<input type="email" class="form-control email" name="email" id="email2" placeholder="Email address here..."
					   required="">
				<button class="btn btn-dark" type="submit">SUBMIT</button>
			</form>
			<div class="form-checkbox justify-content-center">
				<input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup"
					   required />
				<label for="hide-newsletter-popup">Don't show this popup again</label>
			</div>
		</div>
	</div>

	<!-- Plugins JS File -->
	<script src="~/assets/vendor/jquery/jquery.min.js"></script>
	<script src="~/assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
	<script src="~/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<script src="~/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="~/assets/vendor/isotope/isotope.pkgd.min.js"></script>
	<script src="~/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
	<script src="~/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
	<!-- Main JS File -->
	<script src="~/assets/js/main.min.js"></script>
	<script src="~/admin/assets/libs/toastr.js/toastr.min.js"></script>

	<script>
		$(document).ready(function () {


			$("#frmSubscribe").submit(function (e) {
				e.preventDefault();

				//if ($(e.currentTarget).valid() != true)
				//	return;

				const formData = new FormData(e.currentTarget);

				$.ajax({
					url: "@Url.Action("Subscribe","Home")",
					type: "post",
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						if (response.error == true) {
							toastr.error(response.message, "Error!")
							return;
						}
						toastr.success(response.message, "You sucessfully subscribed!")
						$(".form-control").val("");
					},
					error: function (response) { }
				});

			});

		});
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": false,
			"progressBar": true,
			"positionClass": "toast-bottom-right",
			"preventDuplicates": true,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}



	</script>

	@RenderSection("js", required: false)

</body>


</html>