

<nav class="main-nav ml-0">
	<ul class="menu">
		<li class="active">
			<a asp-controller="home" asp-action="index">Home</a>
		</li>
		<li>
			<a asp-controller="shop" asp-action="index">Shop</a>
		</li>
		<li>
			<a asp-controller="blogs" asp-action="index">Blogs</a>
		</li>
		<li>
			<a asp-controller="faqs" asp-action="index">FAQs</a>
		</li>
		<li>
			<a asp-controller="home" asp-action="about">About Us</a>
		</li>
	</ul>
</nav>